@using WebUI.Areas.Admin.ViewModels;
@model UserRoleVM

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="User.Id" />
        <select class="form-control" name="role">
            @foreach (var item in Model.Roles)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <input type="submit" value="Add Role" class="btn btn-info" />
</form>

